* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #fff;
}

header {
    background-color: #1f1f1f;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
    color: #ff6600;
}

header p {
    font-size: 1.2em;
    margin-top: 10px;
    color: #ccc;
}

nav ul {
    list-style-type: none;
    margin-top: 20px;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2em;
}

#home {
    padding: 20px;
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.movie-card {
    background-color: #333;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.movie-card img {
    width: 100%;
    border-radius: 10px;
}

footer {
    background-color: #1f1f1f;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
